.clientOrderContainer {
  height: 300px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 5px;
  overflow-y: auto;
  padding-top: 10px;
}
.pickupTable {
  height: 200px;
  border-top: 1px solid #ddd;
  overflow-y: auto;
}
